/* libraries */
@import "swiper/swiper.min.css";
@import "swiper/modules/free-mode/free-mode.min.css";

/* customs libraries */
@import "libs/alpine.css";
@import "libs/lazyload.css";

/* tailwindcss */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  * {
    @apply focus:outline-0;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

@layer components {
  .container {
    @apply mx-auto;
  }
}
